{% load i18n %}
	{% block content-box-content %}
			<form action="/backend/discounts/edit/{{object.id}}" method="post" id="submit" title="Edit">
				
				<fieldset> <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
					<p>
						{{ form.initials.errors }}
						<b>{% trans "Percentage:" %}</b> {{ form.percentage }} 
						<b>{% trans "Type:" %}</b> {{ form.type }}
					</p>
					<br />
					<p>
						<input class="button" type="submit" value="Submit" />
					</p>
					
				</fieldset>
				
				<div class="clear"></div><!-- End .clear -->
				
			</form>
	{% endblock %}