{% load i18n %}
	{% block content-box-content %}
	<script type="text/javascript">
		$(document).ready(function(){
		    $('.add-modal').one('click',function(){
		        module = $(this).attr('rel');
		        action = $(this).attr('title');
		        $('.facebox').one(jQuery.facebox({'ajax':'/backend/'+module+'/add/'}));
	            return false;
		    });
		});
	</script>
		<div class="tab-content" id="tab2">
			<span><div align="right">
				<input type="button" value="Close" class="button exit" id="some_name" rel="stockrooms"></div><h3>{% trans "Edit StockRoom" %}</h3></span><br />
			<form action="/backend/stockrooms/edit/{{object.id}}" method="post" id="submit" title="{% trans "Add" %}" rel="stockrooms">
				<fieldset> <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
					<p>
						<b>{% trans "Point of Sale:" %}</b> {{ form.pos }}
						<a rel="pos" title="add"  class="add-modal" href="javascript:void(0);">
							<img src="/media/resources/images/icons/plus.png" alt="{% trans "Add" %}" /></a>
						<b>{% trans "Product:" %}</b> {{ form.product }}
						<b>{% trans "Stock:" %}</b> {{ form.stock }}
					</p>
					<p>
						<b>{% trans "Barcode:" %}</b> {{ form.barcode }}
						<b>{% trans "Price:" %}</b> {{ form.price }} 
					</p>
					<p>
						<b>{% trans "Discount:" %}</b> {{ form.discount }}
						<a rel="discounts" title="add"  class="add-modal" href="javascript:void(0);">
							<img src="/media/resources/images/icons/plus.png" alt="{% trans "Add" %}" /></a>
						<b>{% trans "Tax:" %}</b> {{ form.tax }}
						<a rel="taxes" title="add"  class="add-modal" href="javascript:void(0);">
							<img src="/media/resources/images/icons/plus.png" alt="{% trans "Add" %}" /></a>
					</p>
					<p>
						<span align="right">
							<input class="button" type="submit" value="Submit" />	
						</span>
					</p>
				</fieldset>
				
				<div class="clear"></div><!-- End .clear -->
				
			</form>
		</div> <!-- End #tab2 -->
	{% endblock %}